/* load the default Redmine stylesheet */
@import url(../../../stylesheets/application.css);

@import url(./fonts.css);

body {
  font-family: var(--font-family);
  font-size: 20px;
  color: rgb(1, 55, 36);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family);
  padding: 2px 10px 1px 0px;
  margin: 0 0 10px 0;
}

h2 {
  padding: 10px;
  background-color: #fff;
  border-bottom: 2px dashed rgba(81, 158, 11, 0.26);
  position: initial;
  padding-left: 0px;
}

h2:before {
  position: relative;
  left: 5px;
  top: 0px;
  content: "";
  font-size: 0.8em;
  padding: 0 0.8em 0 0.2em;
  background: #4caf50;
  color: #fff;
  height: 1em;
  width: 0.8em;
  text-align: center;
  border-radius: 80% 3%;
  margin-right: 10px;
}

body.controller-welcome.action-index #header {
  padding-bottom: 0;
  min-height: 0;
  border-bottom: none;
}

body.controller-admin.action-index #header {
  padding-bottom: 0;
  min-height: 0;
  border-bottom: none;
}

body.controller-admin.action-index div#content > h2 {
  padding: 10px;
  background-color: white;
  background-image: linear-gradient(
      90deg,
      rgba(223, 242, 182, 0.55) 50%,
      transparent 50%
    ),
    linear-gradient(rgba(146, 209, 138, 0.19) 50%, transparent 20%);
  background-size: 20px 20px;
  border-left-color: #0cc184;
  border: none;
}

body.controller-welcome.action-index div#content > h2 {
  padding: 10px;
  background-color: white;
  background-image: linear-gradient(
      90deg,
      rgba(223, 242, 182, 0.55) 50%,
      transparent 50%
    ),
    linear-gradient(rgba(146, 209, 138, 0.19) 50%, transparent 20%);
  background-size: 20px 20px;
  border-left-color: #0cc184;
  border: none;
}

body.controller-welcome.action-index div#content div.splitcontentleft > .wiki {
  border-radius: 6px;
  position: relative;
  background: #ebf6e9;
  box-shadow: 0px 0px 0px 5px #ebf6e9;
  border: dashed 2px rgb(163, 185, 178);
  padding: 0.2em 1em;
  color: #454545;
  margin-bottom: 16px;
  margin-top: 20px;
  margin-left: 10px;
}

body.controller-welcome.action-index div#content .wiki p {
  margin: 0;
  padding: 0;
}

pre,
code {
  font-family: var(--font-family-t);
}

pre,
code {
  background-image: repeating-linear-gradient(
      to bottom,
      transparent 22px,
      rgba(153, 153, 153, 0.15) 23px,
      rgba(153, 153, 153, 0.15) 23px,
      transparent 24px,
      transparent 45px,
      rgba(153, 153, 153, 0.15) 46px,
      rgba(153, 153, 153, 0.15) 46px,
      transparent 47px,
      transparent 68px,
      rgba(153, 153, 153, 0.15) 69px,
      rgba(153, 153, 153, 0.15) 69px,
      transparent 70px,
      transparent 91px,
      rgba(153, 153, 153, 0.15) 92px,
      rgba(153, 153, 153, 0.15) 92px,
      transparent 93px,
      transparent 114px,
      rgba(153, 153, 153, 0) 115px,
      rgba(153, 153, 153, 0) 115px
    ),
    repeating-linear-gradient(
      to right,
      transparent 22px,
      rgba(153, 153, 153, 0.15) 23px,
      rgba(153, 153, 153, 0.15) 23px,
      transparent 24px,
      transparent 45px,
      rgba(153, 153, 153, 0.15) 46px,
      rgba(153, 153, 153, 0.15) 46px,
      transparent 47px,
      transparent 68px,
      rgba(153, 153, 153, 0.15) 69px,
      rgba(153, 153, 153, 0.15) 69px,
      transparent 70px,
      transparent 91px,
      rgba(153, 153, 153, 0.15) 92px,
      rgba(153, 153, 153, 0.15) 92px,
      transparent 93px,
      transparent 114px,
      rgba(153, 153, 153, 0) 115px,
      rgba(153, 153, 153, 0) 115px
    );
}

.syntaxhl {
  background: transparent;
}

a,
a:link,
a:visited {
  color: rgb(6, 82, 45);
  text-decoration: none;
}

#project-jump .drdn-trigger {
  font-size: 10pt;
  height: 24px;
}

.gantt_subjects_container > .gantt_hdr:first-child {
  background: #f3f7d9 !important;
  height: 36px !important;
}

#gantt_area > .gantt_hdr:first-child {
  background: #f3f7d9 !important;
}

table.cal thead th,
table.cal td.week-number {
  background: #f3f7d9;
  border: 1px solid #d7d7d7;
}

table.cal td.even:hover {
  background-color: #ffd86a82;
}

div.tooltip:hover span.tip {
  border: 2px dashed #b0c4b1;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 3px #ddd;
  margin: auto;
  display: block;
}

div#issue-changesets {
  border-radius: 6px;
  border: 1px solid #a6a5a570;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 2px 2px 3px #c3a96d;
  margin: auto;
  display: block;
  width: auto;
  max-width: 400px;
}

div#issue-changesets div.changeset {
  display: none;
}

div#issue-changesets > h3 {
  background: linear-gradient(transparent 60%, #ffe5667d 60%);
}

body.controller-issues.action-show div#sidebar {
  display: none;
}

body.controller-issues.action-show div#content {
  margin: 0 auto;
  width: 80%;
}

#header {
  background: white url(../images/logo.png) no-repeat 10px;
  background-position: 20px 20px;
  background-size: 60px;
  padding-left: 86px;
  border-color: rgb(206, 228, 197);
  color: #06320f;
  border-width: thin;
  border-style: dotted;
  border-top: none;
  border-left: none;
  border-right: none;
}

#header h1 {
  text-align: 60px;
  line-height: 80px;
  font-size: 28pt;
}

#top-menu {
  background: rgb(86, 199, 165);
  color: #420707;
  outline: 2px dashed #fff;
  outline-offset: -5px;
  padding: 10px 6px 0px 12px;
}

#top-menu a {
  color: #fff;
  margin-right: 10px;
  font-weight: bold;
}

#top-menu a:hover {
  color: #066b59;
}

#top-menu #loggedas {
  float: right;
  margin-right: 0.5em;
  color: #066b59;
}

#loggedas a.user {
  color: #caff95;
}

#main {
  background: #f3f7d9;
}

#sidebar ul {
  padding: 0;
  width: 370px;
  list-style: none;
}

#sidebar ul li {
  position: relative;
  padding: 0.5em 1em 0.5em 2.3em;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px dashed rgba(250, 185, 129, 0.4);
}

#sidebar ul li:after,
#sidebar ul li:before {
  content: "";
  position: absolute;
  border-radius: 50%;
}

#sidebar ul li:before {
  left: 0.2em;
  width: 17px;
  height: 17px;
  background: #a7da8d80;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#sidebar ul li:after {
  top: 1em;
  left: 0.7em;
  width: 14px;
  height: 14px;
  background: rgba(247, 206, 155, 0.3);
}

.box {
  background-color: #fbfedb;
  color: #4c0a0a;
  border: 1px solid rgb(220, 203, 152);
  border-radius: 6px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

div.box {
  border-radius: 0px;
  position: relative;
  background: #fff6e1;
  box-shadow: 0px 0px 0px 5px #fff6e1;
  border: dashed 2px rgb(250, 214, 146);
  padding: 0.2em 1em;
  color: #454545;
  margin-bottom: 16px;
}

div.box:after {
  position: absolute;
  content: "";
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

div.box p label::before {
  content: "";
  font-size: 0.8em;

  padding: 0 0.8em 0 0.2em;
  background: rgb(252, 174, 39);
  color: #fff;
  height: 0.8em;
  width: 0.4em;
  text-align: center;
  border-radius: 80% 1%;
  margin-right: 4px;
}

#content {
  font-size: 18px;
}

#content .tabs ul li:hover {
  background-color: #ffffe2;
}

#content .tabs ul li a {
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbbbbb;
  color: #8a3737;
}

.mypage-box {
  border: 1px solid #ddd;
  border-radius: 8px;
}

.nodata,
.warning {
  text-align: center;
  background-color: #fdf2cb;
  border-color: #f5b9b96e;
  color: #820505;
}

#projects-index ul.projects div.root a.project {
  font-family: var(--font-family);
  font-size: 18px;
}

#quick-search > form > label > a {
  color: #820505;
  position: relative;
}

#quick-search > form > label > a:before {
  position: absolute;
  left: -20px;
  top: 8px;
  content: "";
  font-size: 0.8em;

  padding: 0 0.4em 0 0.2em;
  background: #4caf50;
  color: #fff;
  height: 1em;
  width: 0.4em;
  text-align: center;
  border-radius: 80% 3%;
}

div#admin-index > div#admin-menu {
  margin: 0 auto;
  width: 80%;
}

div#admin-index > #admin-menu ul {
  padding-left: 30px;
}

div#admin-index > #admin-menu li {
  display: block;
  float: left;
  background: #e4f4cd;
  border-radius: 4px;
  padding: 10px;
  width: 260px;
  margin-bottom: 6px;
  margin-right: 6px;
  position: relative;
}

div#admin-index > #admin-menu a.selected {
  background-color: transparent;
  color: #820505;
}

div#admin-index > #admin-menu li a[class*="icon-"] {
  background-image: none;
}

div#admin-index > #admin-menu li a.icon::before {
  content: "＊";
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  position: absolute;
  top: 4px;
  left: 2px;
  transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -o-transform: rotate(20deg);
}

div#admin-index > #admin-menu li a.icon:hover::before {
  color: rgb(253, 231, 30);
}

div#admin-index > #admin-menu li a.icon:hover {
  background-color: transparent;
}

div#admin-index > #admin-menu li:hover {
  background: ivory;
}

#admin-menu a.selected {
  background-color: transparent;
  color: #820505;
}

#projects-index ul.projects li.root {
  display: block;
  float: left;
  background: #e4f4cd;
  border-radius: 4px;
  padding: 10px;
  padding-left: 32px;
  margin-bottom: 6px;
  margin-right: 6px;
  position: relative;
  border: none;
}

#projects-index ul.projects li.root:before {
  content: "＊";
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  position: absolute;
  top: 4px;
  left: 2px;
  transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -o-transform: rotate(20deg);
}

#main-menu li {
  margin: 0px 4px 0px 0px;
}

#main-menu li a {
  background-color: #d6faa9;
  border: 1px solid #ffffff;
  border-bottom-style: none;
  border-radius: 6px 6px 0 0;
  color: #014651;
  position: relative;
  padding-left: 1.4em;
  font-weight: normal;
  font-size: 13pt;
}

#main-menu li a::before {
  position: absolute;
  left: 5px;
  top: 8px;
  content: "";
  font-size: 0.8em;

  padding: 0 0.4em 0 0.2em;
  background: #4caf50;
  color: #fff;
  height: 1em;
  width: 0.4em;
  text-align: center;
  border-radius: 80% 3%;
}

#main-menu li a:hover {
  background: rgb(8, 167, 5);
  color: #fff;
}

#admin-menu li a.icon:hover {
  font-size: 1em;
}

#main-menu li a.selected:hover {
  background: rgb(246, 252, 205);
  color: rgb(58, 49, 2);
}

#main-menu li a.selected {
  background-color: rgb(86, 199, 165);
  color: #ffffff;
}

#main-menu li a.selected::before {
  background: rgb(234, 252, 145);
}

#main-menu li a.new-object {
  background-color: rgb(246, 255, 206);
}

#main-menu .menu-children li a:hover {
  color: rgba(136, 53, 22, 0.954);
  background-color: rgb(246, 255, 206);
}

#main-menu .menu-children {
  border-right: 1px solid #c6ad35;
  border-bottom: 1px solid #c6ad35;
  border-left: 1px solid #c6ad35;
}

table.list:not(.odd-even) tbody tr:nth-child(even),
.even {
  background-color: #fffbe1;
}

table.list:not(.odd-even) tbody tr:nth-child(odd),
.odd {
  background-color: #ffff;
}

table.list th,
.table-list-header {
  background-color: #daef90;
}

table.list {
  border-style: none;
}

table.list tr {
  border-bottom: 1px dashed #efe7be;
}

#content > div.splitcontent {
  font-size: 16px;
}

#history {
  margin-top: 16px;
  border: none;
}

#history > h3::before {
  content: "";
  font-size: 0.8em;
  padding: 0 0.8em 0 0.2em;
  background: rgb(252, 174, 39);
  color: #fff;
  height: 0.8em;
  width: 0.4em;
  text-align: center;
  border-radius: 1% 80%;
  margin-right: 4px;
}

div[id^="change-"] {
  border-bottom: 1px dashed rgb(183, 182, 181);
  margin-bottom: 10px;
  padding: 8px;
}

div[id^="change-"]:nth-of-type(even) {
  background-color: #fdfbfb;
  margin-left: 30px;
}

div[id^="change-"]:nth-of-type(odd) {
  background-color: #f3f7d9;
  margin-right: 30px;
}

.avatars-off h4.note-header::before {
  content: "┥";
  font-size: 12pt;
  top: 6px;
}

div.wiki,
div.value {
  color: rgb(36, 2, 2);
}

div.issue div.description {
  padding-left: 6px;
  padding-right: 6px;
  border: 0.5px dashed rgb(183, 182, 181);
  background-color: white;
  border-radius: 6px;
}

div.issue > div.description > p > strong {
  position: relative;
  color: #832929;
  padding: 0.5em 1em 0.5em 2em;
  background-color: #ffe5b3;
  border-radius: 0.5em;
}

div.issue > div.description > p > strong::after {
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
  content: "";
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 100%;
}

div.description div.wiki {
  background-color: white;
  border-radius: 2px;
  padding-left: 4px;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 97%,
    #ddd 97%,
    #ddd 100%
  );
  background-size: 100% 1.8em;
  line-height: 1.8;
}

div.issue {
  border-radius: 0px;
  position: relative;
  background: #fdfaf3;
  box-shadow: 0px 0px 0px 5px #fdfaf3;
  border: dashed 2px rgb(250, 214, 146);
  padding: 0.2em 1em;
  color: #454545;
}

div.issue::after {
  position: absolute;
  content: "";
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

div.issue .subject h3::before {
  content: " ";
  font-size: 0.8em;
  padding: 0 0.8em 0 0.2em;
  background: rgb(252, 174, 39);
  color: #fff;
  height: 0.8em;
  width: 0.4em;
  text-align: center;
  border-radius: 1% 80%;
  margin-right: 6px;
}

div.issue .subject h3 {
  padding-top: 6px;
  font-size: 24px;
  border-bottom: 2px solid #ffdb88;
}

/*--- news ---*/
article.news-article {
  paddinf-left: 20px;
}

article.news-article div.wiki {
  border-radius: 0px;
  position: relative;
  background: #fdfaf3;
  box-shadow: 0px 0px 0px 5px #fdfaf3;
  border: dashed 2px rgb(250, 214, 146);
  padding: 0.2em 1em;
  color: #454545;
  width: 90%;
}

article.news-article div.wiki::before {
  position: absolute;
  top: 0.3em;
  right: -2%;
  height: 20px;
  width: 160px;
  content: "";
  background-color: rgba(250, 214, 146, 0.53);
  background-image: radial-gradient(#fff 20%, transparent 0),
    radial-gradient(#fff 20%, transparent 0);
  background-size: 10px 10px;
  border-left: 2px dotted rgba(0, 0, 0, 0.1);
  border-right: 2px dotted rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  padding: 0.25em 2em;
  color: #65513f;
  transform: rotate(12deg);
}

div#content {
  border-right: none;
}

body.controller-issues.action-show #issue_description_and_toolbar {
  display: block !important;
}

body.controller-issues.action-show span.icon.icon-edit {
  display: none;
}

/*-- show news --*/
body.controller-news.action-show div#content {
  padding-left: 20px;
}

body.controller-news.action-show h2,
article.news-article h3 {
  padding-top: 10px;
  font-size: large;
  padding-bottom: 10px;
}

body.controller-news.action-show div#content > div.wiki {
  border-radius: 0px;
  position: relative;
  background: #fdfaf3;
  box-shadow: 0px 0px 0px 5px #fdfaf3;
  border: dashed 2px rgb(250, 214, 146);
  padding: 0.2em 1em;
  color: #454545;
  width: 90%;
}

body.controller-news.action-show div#content > div.wiki::before {
  position: absolute;
  top: 0.3em;
  right: -2%;
  height: 20px;
  width: 160px;
  content: "";
  background-color: rgba(250, 214, 146, 0.53);
  background-image: radial-gradient(#fff 20%, transparent 0),
    radial-gradient(#fff 20%, transparent 0);
  background-size: 10px 10px;
  border-left: 2px dotted rgba(0, 0, 0, 0.1);
  border-right: 2px dotted rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  padding: 0.25em 2em;
  color: #65513f;
  transform: rotate(12deg);
}

div#comments > div.wiki {
  border-bottom: 1px dashed rgb(183, 182, 181);
  margin-bottom: 10px;
  padding: 8px;
}

div#comments > h4:nth-of-type(odd) {
  margin-right: 30px;
}

div#comments > h4:nth-of-type(odd) + div.wiki {
  background-color: #f3f7d9;
  margin-right: 30px;
}

div#comments > h4:nth-of-type(even) {
  margin-left: 30px;
}

div#comments > h4:nth-of-type(even) + div.wiki {
  background-color: #fdfbfb;
  margin-left: 30px;
}

/*-- show messages --*/

body.controller-messages.action-show div#content {
  padding-left: 20px;
}

div#content > div.message > div.wiki {
  font-size: 1.1em;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  width: 90%;
  background: #033b1f;
  color: #fff;
  border: 8px solid #b2771f;
  border-radius: 3px;
  box-shadow: 4px 4px 4px #55555578, 2px 2px 2px 2px rgba(0, 0, 0, 0.3) inset;
}

div#content > div.message > div.wiki::before,
div#content > div.message > div.wiki::after {
  position: absolute;
  content: "";
  bottom: 0;
}

div#content > div.message > div.wiki::before {
  width: 20px;
  right: 10px;
  border: solid 3px #ffff00;
  border-radius: 3px 2px 0 2px;
}

div#content > div.message > div.wiki::after {
  width: 15px;
  right: 45px;
  border: solid 3px #fff;
  border-radius: 8px 5px 2px 5px;
}

div#content > div.message > div.wiki pre {
  color: initial;
}

div#replies div.wiki {
  border-bottom: 1px dashed rgb(183, 182, 181);
  margin-bottom: 10px;
  padding: 8px;
}

div#replies div.wiki p {
  margin: 2px;
}

div#replies > div:nth-of-type(odd) {
  margin-right: 30px;
}

div#replies > div:nth-of-type(even) {
  margin-left: 30px;
  margin-right: 30px;
}

#tab-content-history.tab-content {
  padding: 0 6px;
  margin-bottom: 10px;
  border: none;
}

#content .tabs ul li a {
  display: block;
  font-size: 0.9em;
  text-decoration: none;
  line-height: 1.3em;
  padding: 4px 6px 4px 6px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbbbbb;
  color: #999;
  font-weight: bold;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #fff4e2;
}

div.issue p.author {
  margin-top: 0.5em;
  font-size: 0.8em;
}

a[class*="icon-"]:hover {
  transform: scale(1.3, 1.3);
}

a.icon:hover {
  color: rgb(118, 2, 2);
  background-color: #fef0ac;
  font-size: 1.1em;
}

/*----- form --------*/
input[type="text"],
input[type="password"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 6px;
}

textarea {
  height: 300px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.tabular.settings textarea,
.tabular.settings .wiki-preview,
.tabular.settings .jstTabs {
  width: 90%;
}

input[name="commit"],
input[type="submit"] {
  font-family: var(--font-family-t);
  font-size: 12pt;
  display: inline-block;
  /* padding: 0.5em 0.5em; */
  background: #009d73;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 0px 5px #009d73;
  border: dashed 2px #fff;
  margin-right: 8px;
  min-width: 100px;
}

input[name="commit"]:hover,
input[type="submit"]:hover {
  background: #76d7bd;
  box-shadow: 0px 0px 0px 5px #76d7bd;
}

input[name="continue"] {
  font-family: var(--font-family);
  font-size: 12pt;
  display: inline-block;
  background: #a0e87d;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 0px 5px #a0e87d;
  border: dashed 2px #fff;
  margin-right: 8px;
  min-width: 100px;
}

table.list td {
  padding: 4px;
}

select {
  /* padding: 7px 30px 7px 10px; */
  border-radius: 5px;
  border: 1px solid #ccc;
  display: inline-block;
  font: inherit;
  font-size: 14px;
  line-height: 1.5em;
  margin-right: 6px;
}

select#lang,
select.expandable {
  vertical-align: text-top;
  margin-top: 0;
  margin-bottom: 0;
}

div#query_form_content > fieldset {
  border: 1px solid #e4e4e4;
  margin-bottom: 4px;
  padding-top: 4px;
  min-width: inherit;
  border-radius: 4px;
  background-color: #f3f7d9;
  border: none;
}

fieldset {
  border-radius: 4px;
}

form#issue-form fieldset {
  border: 1px solid #e4e4e4;
  margin-bottom: 4px;
  padding-top: 4px;
  min-width: inherit;
  border-radius: 4px;
  background-color: #fffcf4;
  border: none;
}

.ribbon-content {
  position: fixed;
  z-index: 20;
  width: 200px;
  height: 170px;
  overflow: hidden;
  right: 0px;
  bottom: 0px;
}

.ribbon {
  display: inline-block;
  position: absolute;
  padding: 5px 0;
  right: -80px;
  bottom: 50px;
  width: 300px;
  font-size: 20pt;
  text-align: center;
  background: rgba(57, 195, 212, 0.5);
  color: #fff;
  letter-spacing: 0.05em;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  box-shadow: 0 0 0 2px rgba(57, 195, 212, 0.5);
  border-top: dashed 2px rgba(255, 255, 255, 0.65);
  border-bottom: dashed 2px rgba(255, 255, 255, 0.65);
}

a.journal-link {
  display: inline-block;
  position: relative;
  top: -10px;
  right: 10px;
  margin: 0;
  padding: 4px 0;
  z-index: 2;
  width: 40px;
  text-align: center;
  font-size: 17px;
  color: white;
  background: #bad655;
}

a.journal-link:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
  border-left: 20px solid #bad655;
  border-right: 20px solid #bad655;
  border-bottom: 10px solid transparent;
}

#history div:target > h4 {
  background-color: #dce77e;
  border-bottom: none;
}

#footer {
  clear: both;
  border: none;
  font-size: 0.9em;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  background: #76ccc0;
  background-image: repeating-linear-gradient(
      44deg,
      rgba(153, 255, 204, 0.41),
      rgba(153, 255, 204, 0.41) 22px,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0) 44px
    ),
    repeating-linear-gradient(
      134deg,
      rgba(0, 179, 179, 0.5),
      rgba(0, 179, 179, 0.5) 22px,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0) 44px
    );
}

img.gravatar {
  border-radius: 50%;
  box-shadow: 1px 0px 2px #c9c7c2;
  padding: 4px;
  border-style: none;
  margin: 2px;
}

div#activity dl {
  border-left: 2px dotted rgb(184, 207, 206);
  padding-left: 9px;
  margin-bottom: 1px;
  margin-top: 1px;
}

div#activity h3 {
  background-color: #eefce6;
}

div#activity h3::before {
  content: "";
  background: white;
  color: #fff;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-right: 4px;
}

div#activity h3 {
  position: relative;
  color: white;
  padding: 0.2em 0.2em 0.2em 2em;
  background-color: rgba(86, 199, 165, 0.62);
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
}

div#activity h3::after {
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
  content: "";
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 100%;
}

div#activity > dl > dt:hover {
  color: darkorange;
  text-decoration: darkorange;
}

div#activity > dl dd:hover {
  border-bottom: 2px dashed rgb(186, 220, 210);
}

span.pagination {
  text-align: center;
}

ul.pages li {
  background: beige;
  border-radius: 20%;
  border-style: none;
}

ul.pages li.page {
  border: none;
  margin-left: 4px;
}

ul.pages li.page:first-child {
  border-radius: 20%;
}

.pagination ul.pages li:last-child {
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
}

p.nodata {
  outline: 2px dashed rgb(253, 219, 169);
  outline-offset: -5px;
}

div.splitcontentleft > ul {
  border-radius: 0px;
  position: relative;
  background: #f3f6e0;
  box-shadow: 0px 0px 0px 5px f3f6e0;
  border: dashed 2px rgba(163, 207, 139, 0.39);
  padding: 0.2em 1em;
  /* color: #454545; */
  list-style-position: inside;
}

#login-form label {
  position: relative;
}

#login-form label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #66c977;
  margin-right: 4px;
}

#login-form {
  background-color: white;
  border-bottom: 3px dotted #b5cdba;
  padding: 28px;
  position: relative;
  z-index: 0;
  border-radius: 0px;
  border-top: 3px dotted #b5cdba;
  border-left: none;
  border-right: none;
  padding-bottom: 40px;
}

#login-form:before {
  content: "";
  display: block;
  position: absolute;
  top: -18px;
  left: -22px;
  width: 40px;
  height: 40px;
  z-index: 1;
  border-radius: 100%;
  background: #def2cf;
}

/*------- Loading CSS ----------*/
#bowlG {
  position: relative;
  width: 90%;
  height: 90%;
  margin: auto;
}

#bowl_ringG {
  display: none;
  position: absolute;
  top: 35%;
  left: 40%;
  width: 173px;
  height: 173px;
  border: 14px solid rgb(209, 235, 213);
  border-radius: 173px;
  -o-border-radius: 173px;
  -ms-border-radius: 173px;
  -webkit-border-radius: 173px;
  -moz-border-radius: 173px;
}

.ball_holderG {
  position: absolute;
  width: 46px;
  height: 173px;
  left: 63px;
  top: 0px;
  animation-name: ball_moveG;
  -o-animation-name: ball_moveG;
  -ms-animation-name: ball_moveG;
  -webkit-animation-name: ball_moveG;
  -moz-animation-name: ball_moveG;
  animation-duration: 1.69s;
  -o-animation-duration: 1.69s;
  -ms-animation-duration: 1.69s;
  -webkit-animation-duration: 1.69s;
  -moz-animation-duration: 1.69s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

.ballG {
  position: absolute;
  left: 0px;
  top: -40px;
  width: 69px;
  height: 69px;
  background: rgba(161, 240, 186, 0.97);
  border-radius: 58px;
  -o-border-radius: 58px;
  -ms-border-radius: 58px;
  -webkit-border-radius: 58px;
  -moz-border-radius: 58px;
}

@keyframes ball_moveG {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes ball_moveG {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes ball_moveG {
  0% {
    -ms-transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes ball_moveG {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes ball_moveG {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

#bowlG.hide {
  animation: hideop 2s linear 0s;
  animation-fill-mode: forwards;
}

#loading_msg {
  color: rgb(19, 116, 98);
  font-size: 2em;
  position: relative;
  top: 40%;
  left: 30%;
}

#theme_info {
  position: relative;
  color: #217f66;
}

/* Tooltip text */
#theme_info .theme_description {
  visibility: hidden;
  width: auto;
  background-color: #ffffff;
  color: #6da3a7;
  text-align: left;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 40px;
  left: -40px;
  font-size: smaller;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

/* Show the tooltip text when you mouse over the tooltip container */
#theme_info:hover .theme_description {
  visibility: visible;
}

#theme_info .theme_description pre {
  background: white url(../images/logo.png) no-repeat right 20px top -5px;
  background-size: 50px;
}

div.news span.summary {
  color: #82603f;
  margin-left: 10px;
  background: linear-gradient(transparent 90%, #f7d8c2 90%);
  /* background: linear-gradient(transparent 70%, #fbe4d1 10%); */
  font-size: small;
}

abbr[title] {
  text-decoration: none;
}
