/* import Google fonts */
@import url(https://fonts.googleapis.com/css2?family=Patrick+Hand);
@import url(https://fonts.googleapis.com/css2?family=Kosugi+Maru);

/* kiroji */
@font-face {
  font-family: kiroji;
  src: url("../font/kiloji/kiloji.woff2") format("woff2"),
    url("../font/kiloji/kiloji.woff") format("woff")
}

/* kiroji */
@font-face {
  font-family: kiroji_b;
  src: url("../font/kiloji/kiloji_b.woff2") format("woff2"),
    url("../font/kiloji/kiloji_b.woff") format("woff");
}

:root {
  --font-family: 'Patrick Hand', 'kiroji_b', 'Kosugi Maru', Verdana, sans-serif;
  --font-family-t: 'Patrick Hand', 'kiroji', 'Kosugi Maru', Consolas, Menlo, "Liberation Mono", Courier, monospace;
}
